.container {
    display: flex;

    .avatar {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;

        .boxAvatar {
            margin-top: -20px;
            width: 60px;
            height: 60px;
            object-fit: contain;

            .avatarLink {
                width: 100%;
                height: 100%;
                border-radius: 40px;
            }
        }
    }

    .comment {
        flex: 7;
        display: flex;
        padding: var(--12px, 12px);
        padding-top: 0px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: var(--8px, 3px);
        width: 100%;
        border-bottom: 1px solid #e2e6ea;

        .row1 {
            width: 100%;
            display: flex;
            justify-content: space-between;

            .textUsername {
                margin-bottom: 5px !important;
                font-size: 15px;
                font-weight: 600;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.13;
                letter-spacing: -.2px;
                color: #354052;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                color: #f4445e !important;
            }

            .star {}
        }

        .row2 {
            margin-top: -6px;
            width: 100%;
            display: flex;
            justify-content: space-between;

            .textDate {
                font-size: 12px;
                font-weight: 400;
                font-style: normal;
                font-stretch: normal;
                color: #616770;
            }

            .textTimeRental {
                font-size: 12px;
                font-weight: 400;
                font-style: normal;
                font-stretch: normal;
                color: #000;
            }
        }

        .row3 {
            span {
                word-break: break-word;
                text-align: justify;
                display: inline-block;
                width: 100%;
            }
        }
    }
}

